*.pdb
*.psf
*.out
*.log
*.xsc
*.json
*.str
*.rtf
*.prm
*.mol2
*.sdf
*.inp

*temp*
toppar/
misc/
Arabidopsis/
Human/
DouglasFir/
Eucalyptus/

logs/
raw_output/
input/
vina_pipeline_af3_proteins/
docking_methods_comparisons/vina_boltz
known_binders/

complexes/
*.old
*restart*
*.vel
*.coor
*.dcd
output/
__pycache__